.body{
  width: 100%;
  min-height: 100vh;
  background-color: #0A1929;
  overflow-x: hidden;
  margin:0;
}
.icons{
  width:95px;
  height:95px;
  background:blue;
  padding:10px;
  margin:25px;
}
@media(max-width: 576px){
  .icons{
    width:45px;
    height:65px;
  }
}
.iconsContainer{
  width:100%;
  height:65px;
  display: flex;
  justify-content:center;
  padding:25px;
  margin:25px;
  margin-bottom: 6%;
}
.number{
  font-size: 90px;
  color: white;
  display: flex;
  justify-content:center;
  padding: 16px;
}
.ButtonPlay{
  position: absolute;
  margin-top: 35%;
  background-color:#007DF2;
  color: white;
  font-size: 20px;
  padding: 6px 50px;
  border:#007DF2 ;
  border-radius: 7px;
}
.ButtonPlayAgain{
  position: absolute;
  margin-top: 10%;
  background-color:#007DF2;
  color: white;
  font-size: 20px;
  padding: 6px 50px;
  border:#007DF2 ;
  border-radius: 7px;
}
span{
  word-spacing: 1.5em;
}